/* Create three equal columns that floats next to each other */
.column-content {
	float: left;
	width: 50%;
	padding: 10px;
}

.column-side {
	float: left;
	width: 25%;
	padding: 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

blockquote p {
	/* text-align: justify; */
	font-size: 11pt;
	font-style: oblique;
}

blockquote p:first-child {
	/* text-align: justify; */
	font-size: 12pt;
}

table {
	margin: 0 auto;
	/* centers the table */
}

th {
	padding-right: 30px;
}

img {
	width: 100%;
	height: auto;
}

body {
	font-family: 'Times New Roman', Times, serif;
	font-family: "Computer Modern Serif", serif;
	font-size: 200%;
}

code {
	vertical-align: middle;
	font-family: 'Computer Modern Typewriter Light';
	font-weight: bold;
	font-size: 90%;
	/* background-color: #ECECEC;
	border-radius: 5% / 140%;
	padding-left: 2%;
	padding-right: 2%; */
}

/* IMPORTANT!
   * This is a quick fix in order to left-align your equations. Because
   * linebreaks does not work in version 3.2.
   * see
   * https://github.com/mathjax/MathJax/issues/2312
   */
mjx-mtd {
	display: table-cell;
	text-align: left !important;
	padding: .215em .4em;
}

/**
   * REMOVES underlining for links
   */
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}



.post-listing-entry {
	margin-bottom: 1em;
}

.post-listing-title {
	margin: 0;
}

.post-listing-descr {
	margin-top: 0.5em;
	margin-bottom: 0;
}

/************************************************************************
   * FONTS                                                                *
   ***********************************************************************/
/* Computer Modern Serif */
@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/cmunrm.eot');
	src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
		url('fonts/cmunrm.woff') format('woff'),
		url('fonts/cmunrm.ttf') format('truetype'),
		url('fonts/cmunrm.svg#cmunrm') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/cmunbx.eot');
	src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
		url('fonts/cmunbx.woff') format('woff'),
		url('fonts/cmunbx.ttf') format('truetype'),
		url('fonts/cmunbx.svg#cmunbx') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/cmunti.eot');
	src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
		url('fonts/cmunti.woff') format('woff'),
		url('fonts/cmunti.ttf') format('truetype'),
		url('fonts/cmunti.svg#cmunti') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Computer Modern Serif';
	src: url('fonts/cmunbi.eot');
	src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
		url('fonts/cmunbi.woff') format('woff'),
		url('fonts/cmunbi.ttf') format('truetype'),
		url('fonts/cmunbi.svg#cmunbi') format('svg');
	font-weight: bold;
	font-style: italic;
}
/* Computer Modern Typewriter Light */
@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('fonts/cmunbtl.eot');
	src: url('fonts/cmunbtl.eot?#iefix') format('embedded-opentype'),
		url('fonts/cmunbtl.woff') format('woff'),
		url('fonts/cmunbtl.ttf') format('truetype'),
		url('fonts/cmunbtl.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Computer Modern Typewriter Light';
	src: url('fonts/cmunbto.eot');
	src: url('fonts/cmunbto.eot?#iefix') format('embedded-opentype'),
		url('fonts/cmunbto.woff') format('woff'),
		url('fonts/cmunbto.ttf') format('truetype'),
		url('fonts/cmunbto.svg#cmunbto') format('svg');
	font-weight: normal;
	font-style: italic;
}